{% extends 'head.html' %}

{% block content %}
    <div class="videos">
        {% if videos %}
            {% for video in videos %}
                <div class="video">
                    <div class="thumbnail">
                        <img src="{{ video.videoThumb.url }}" alt="video">
                    </div>

                    <div class="details">
                        <div class="author">
                            <a href="{% url 'chat' video.videoAuthor.authorName %}">
                                <img src="{{ video.videoAuthor.authorName.avatar.url }}"
                                     alt=""/>
                            </a>
                        </div>
                        <div class="title">
                            <h3>
                                {{ video.videoHeader }}
                            </h3>
                            <a href="{% url 'chat' video.videoAuthor.authorName %}">
                                {{ video.videoAuthor.authorName|upper }}
                            </a>
                            <span> {{ video.videoViews }} • 3 Months Ago </span>
                        </div>
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <h1>No videos yet!</h1>
        {% endif %}
    </div>
{% endblock %}

